name: Deploy Prod

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted # Menggunakan runner di VPS (Production Runner or same runner with logic)
    environment: production
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to Production Environment (Docker)
      working-directory: ./
      run: |
        # Create uploads directory if not exists
        mkdir -p backend/uploads

        # Build and Run with Docker Compose
        docker compose -f docker-compose.prod.yml up -d --build --remove-orphans
        
        # Clean up unused images
        docker image prune -f
