name: Deploy Dev

on:
  push:
    branches: [ "dev" ]

jobs:
  deploy:
    runs-on: self-hosted # Menggunakan runner di VPS
    environment: development
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to Dev Environment (Docker)
      working-directory: ./
      run: |
        # Create uploads directory if not exists
        mkdir -p backend/uploads

        # Build and Run with Docker Compose
        docker compose -f docker-compose.dev.yml up -d --build --remove-orphans
        
        # Clean up unused images
        docker image prune -f
